

<h1>SuccessfulRegistration</h1>
<div>
    <p>
        You have successful registrated @TempData["Username"]. 
		You will receive registration mail (@TempData["Email"]) shortly with confirmation link. Please click the link to confirm your email address.
    </p>
</div>