@model PortfolioTracker.Web.ViewModels.ProfileViewModel



<div>
    <p>@Model.Email</p>
    <p>@Model.Username</p>
    <p>@Model.DisplayName</p>
    <p>
        @Model.DateOfBirth?.ToString("dd/MM/yyyy")
    </p>

</div>