@model IPlatformBalances

@foreach(var item in Model.Balances)
{
    <div class="">
        <div class="">
            <h5 class="">@item.Key</h5>
            <p class="">@item.Value</p>
        </div>
    </div>
}
