@model PlatformKeyViewModel
<div>
    <form id="apiKeyForm" asp-asp-controller="portfolio" asp-action="AddKey">
        <div class="form-floating mb-3">
            <select id="supportedPlatformsSelect" asp-for="Platform">
                
                <option name="Default">Default</option>
                <option name="Default1">Default1</option>
                
            </select>
        </div>

        <div id="apiFields">
            <div id="ApiSecretField" class="form-floating mb-3">
                <input asp-for="SecretKey" class="form-control" autocomplete="off" aria-required="true" placeholder="ApiSecret" />
                <label asp-for="SecretKey" class="form-label">ApiSecret</label>
            </div>
        </div>
        <button class="btn btn-primary w-100" type="submit" id="AddKeyBtn">Add API Key</button>
    </form>
</div>