@model ErrorViewModel
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="pt-error__title">
        @Model.Message
    </h1>
    <p>
        You can try again or <a asp-controller="Home" asp-action="Contact">contact us</a> to resolve the issue.
    </p>
</div>

